body{
    height: 200vh;
    margin: 0;
    padding: 0;
}

.content{
    width: 100%;
    opacity: 1;
   transition: all 5s ;
    

}

.content.active{
    background: #000;
    color: whitesmoke;
    padding: 30px;
}


.animation-container{
    width: 100%;

}

.left-animation
{
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 5s ease-in-out, transform 4s ease-in-out;
}

.right-animation{
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 5s ease-in-out, transform 4s ease-in-out;
}
.slide-in-left{
    opacity: 1;
    transform: translateX(0);
}

.img-animation{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400xp;
    margin: auto;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 5s ease-in-out, transform 4s ease-in-out;
}

.img-animation-active{
    transform: translateY(0);
    opacity: 1;
}